<?xml version='1.0'?>
<launch>
    <arg name="res" default="1440"/>
    <node pkg="usb_cam" type="usb_cam_node" name="front_camera">
        <param name="video_device" value="/dev/video0" />    
        <param name="image_width" value="$(arg res)" />    
        <param name="image_height" value="$(arg res)" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="front_camera_frame" />
        <param name="io_method" value="mmap" />
    </node>

    <node pkg="usb_cam" type="usb_cam_node" name="rear_camera">
        <param name="video_device" value="/dev/video2" />    
        <param name="image_width" value="$(arg res)" />    
        <param name="image_height" value="$(arg res)" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="rear_camera_frame" />
        <param name="io_method" value="mmap" />
    </node>
</launch>
